<%= form_with( model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります！</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <%= f.label :タスク名 %>
    <%= f.text_field :name %>
  </div>
  <div class="task_detail">
    <%= f.label :詳細 %>
    <%= f.text_field :detail %>
  </div>
  <div class="task_deadline">
    <%= f.label :完了期限 %>
    <%= f.date_field :expire_on %>
  </div>
  <%= f.submit %>
<% end %>
