<h1<%= @user.name %>のページ</h1>
<article>
  <p>Name：<%= @user.name %></p>
  <p>Email：<%= @user.email %></p>
  <p>Tasks：<%= @user.tasks.count %>件のタスクがあります</p>
  <table class = "top_index">
    <tr class = "top_menu">
      <th>Name</th>
      <th>Detail</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>
    <% @user.tasks.each do |task| %>
      <tr class ="task_row">
        <td class = "content"><%= task.name %></td>
        <td class = "content"><%= task.detail %></td>
        <td class = "content"><%= task.expire_on %></td>
        <td class = "content"><%= task.status %></td>
        <td class = "content"><%= task.priority %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Back to Home', admin_users_path, class: 'btn btn-info' %>
</article>
